<launch>

  <arg name="namespace" default="rdg01" />
  <arg name="tfpre" default="$(arg namespace)_tf" />
  <arg name="robot_name"  default="ridgeback_$(arg namespace)" />
  <arg name="initX" default="7.2" />
  <arg name="initY" default="-2.2" />
  <arg name="initYaw" default="0" />
  
  <group ns="$(arg namespace)">
    <include file="$(find multi_ridgeback_gazebo)/launch/include/ridgeback.launch">
      <arg name="namespace" value="$(arg namespace)" />
      <arg name="tfpre" value="$(arg tfpre)" />
      <arg name="robot_name"  value="$(arg robot_name)" />
      <arg name="initX" value="$(arg initX)" />
      <arg name="initY" value="$(arg initY)" />
      <arg name="initYaw" value="$(arg initYaw)" />
    </include>
  </group>

  </launch>