<launch>

<!--  ..............................  ROBOT1  .....................................  -->
  <arg name="r1_namespace" default="rdg01" />
  <arg name="r1_tfpre" default="$(arg r1_namespace)_tf" />
  <arg name="r1_robot_name"  default="ridgeback_$(arg r1_namespace)" />
  <arg name="r1_initX" default="7.2" />
  <arg name="r1_initY" default="-2.2" />
  <arg name="r1_initYaw" default="0" />
  
  <group ns="$(arg r1_namespace)">
    <include file="$(find multi_ridgeback_gazebo)/launch/include/ridgeback.launch">
      <arg name="namespace" value="$(arg r1_namespace)" />
      <arg name="tfpre" value="$(arg r1_tfpre)" />
      <arg name="robot_name"  value="$(arg r1_robot_name)" />
      <arg name="initX" value="$(arg r1_initX)" />
      <arg name="initY" value="$(arg r1_initY)" />
      <arg name="initYaw" value="$(arg r1_initYaw)" />
    </include>
  </group>

<!--  ..............................  ROBOT2  ......................................  -->
  <!-- <arg name="r2_namespace" default="rdg02" />
  <arg name="r2_tfpre" default="$(arg r2_namespace)_tf" />
  <arg name="r2_robot_name"  default="ridgeback_$(arg r2_namespace)" />
  <arg name="r2_initX" default="6.7" />
  <arg name="r2_initY" default="7.6" />
  <arg name="r2_initYaw" default="1.6" />
  
  <group ns="$(arg r2_namespace)">
    <include file="$(find multi_ridgeback_gazebo)/launch/include/ridgeback.launch">
      <arg name="namespace" value="$(arg r2_namespace)" />
      <arg name="tfpre" value="$(arg r2_tfpre)" />
      <arg name="robot_name"  value="$(arg r2_robot_name)" />
      <arg name="initX" value="$(arg r2_initX)" />
      <arg name="initY" value="$(arg r2_initY)" />
      <arg name="initYaw" value="$(arg r2_initYaw)" />
    </include>
  </group> -->

</launch>
